{
  "extends": "airbnb-base",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "prefer-rest-params": "off",
    "max-len": ["error", { "code": 200, "ignoreComments": true }]
  },
  "env": {
    "mocha": true
  }
}